/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■

基本要素

■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/


sup { font-size:0.75rem;}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

btn

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.btn { display:block; box-sizing:border-box; border:1px solid #0061B2; text-align:center; color:#0061B2; background:#fff; line-height:100%; width:300px; max-width:100%; height:50px; padding:18px 0 0 0; line-height:100%; font-size:0.938rem; font-weight:bold; }
.btn:hover { filter: alpha(style=0,opacity=100);opacity:1;}
.btn .btn-inner { display:block; line-height:100%; }
.btn .btn-inner:before { display:inline-block; content:""; width:4px; height:0.8em; background:url(../img/arrow_bl.svg) no-repeat 0 60%; margin-right:8px; }
.btn:hover{ text-decoration:none; background:#0061B2; color:#fff;}
.btn:hover .btn-inner:before { background:url(../img/arrow_wh.svg) no-repeat 0 60%; }

.btn { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	-webkit-transition: all .5s; transition: all .5s;}

.btn .btn-blank { display:block; line-height:100%; }
.btn .btn-blank:after { display:inline-block; content:""; width:9px; height:0.8em; background:url(../img/link_bl.svg) no-repeat 0 60%; margin-left:10px; }
.btn:hover .btn-blank:after { display:inline-block; content:""; width:9px; height:0.8em; background:url(../img/link_wh.svg) no-repeat 0 60%; margin-left:10px; }

.btn .btn-link { display:block; line-height:100%; }
.btn .btn-link:after { display:inline-block; content:""; width:9px; height:0.8em; background:url(../img/pageLink.svg) no-repeat 0 60%; margin-left:10px; }
.btn:hover .btn-link:after { background:url(../img/pageLink_wh.svg) no-repeat 0 60%;}
@media screen and (max-width:1100px){
	.btn { width:100%;}
}
@media screen and (max-width:600px){
	.btn { width:100%;}
}

.wpcf7c-btn-confirm { display:block; box-sizing:border-box; border:1px solid #0061B2; text-align:center; color:#fff; background:url(../img/arrow_wh.svg) no-repeat 75% 50% #0061B2; line-height:100%; width:300px; max-width:100%; height:50px; padding:18px 0 0 0; line-height:100%; font-size:0.938rem; font-weight:bold; }
.wpcf7c-btn-confirm:hover { filter: alpha(style=0,opacity=100);opacity:1; background:url(../img/arrow_bl.svg) no-repeat 75% 50% #fff; color:#0061B2;}
.wpcf7c-btn-confirm { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	-webkit-transition: all .5s; transition: all .5s;}

main article { padding-top:70px}
#home main article { padding-top:0px}
main section { display:block; margin:0 auto; padding:0 0 80px 0; text-align:left;}
#home main section { padding:120px 0 0 0; display:block; text-align:left;}
@media screen and (max-width:1100px){
	main article { padding-top:40px}
	main section { padding:0 0 60px 0;}
	#home main section { padding-top:80px;}
	main section img { max-width:100%; height:auto;}
}
@media screen and (max-width:600px){
	main section { padding:0 0 40px 0;}
	#home main section { padding-top:60px;}
}

.conts { padding:0 0 40px 0;}



/* column ////////////////////////////////////////////////////////////////////////////////////////////*/
.column-flex {display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; justify-content: space-between;}
.column-flex2 {display: -webkit-flex; display: flex; -webkit-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: justify; }



/* title ////////////////////////////////////////////////////////////////////////////////////////////*/
.pagetitle { background: rgb(127,176,216); background: -moz-linear-gradient(top,  rgba(127,176,216,1) 0%, rgba(240,245,250,1) 100%); background: -webkit-linear-gradient(top,  rgba(127,176,216,1) 0%,rgba(240,245,250,1) 100%); background: linear-gradient(to bottom,  rgba(127,176,216,1) 0%,rgba(240,245,250,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7fb0d8', endColorstr='#f0f5fa',GradientType=0 ); display:table; width:100%;}
.pagetitle h1.title1 { font-size: 1.875rem; height:140px; line-height:100%;  font-weight:bold; display:table-cell; vertical-align:middle;}
.pagetitle h1.title1 span { font-size:1.25rem; font-family: 'Roboto Condensed', sans-serif; display:block; font-weight:normal; margin:0 0 6px 0; }
.sub .pagetitle h1.title1 span { font-size:0.7rem; font-family: 'Roboto Condensed', sans-serif; display:inline-block; font-weight:normal; margin:0 0 12px 0; background:#fff; border-radius:50px 50px 50px 50px; -moz-border-radius:50px 50px 50px 50px; -webkit-border-radius:50px 50px 50px 50px; line-height:100%; box-sizing:border-box; padding:5px 10px; color:#333;}

.pagetitle h1.title1 a { font-size:1.25rem; font-family: 'Roboto Condensed', sans-serif; display:block; font-weight:normal; margin:0 0 6px 0; }
.sub .pagetitle h1.title1 a { font-size:0.7rem; font-family: 'Roboto Condensed', sans-serif; display:inline-block; font-weight:normal; /*margin:0 0 12px 0; background:#fff; border-radius:50px 50px 50px 50px; -moz-border-radius:50px 50px 50px 50px; -webkit-border-radius:50px 50px 50px 50px;*/ line-height:100%; box-sizing:border-box; /*padding:5px 10px;*/ padding: 0; margin: 0; color:#005FB2;}
.sub .pagetitle h1.title1 div {
    font-size: 0.7rem;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    font-weight: normal;
    margin: 0 0 12px 0;
    background: #fff;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    line-height: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    color: #005FB2;
}
.sub .pagetitle h1.title1 div a + a { margin-left: .5rem;}

.breadcrumbs { position: absolute; font-size: 10px; left: 1rem;}
.breadcrumbs span, .breadcrumbs span a { font-weight: 300;}
.breadcrumbs span a + a { margin-left: .5rem;}

header .breadcrumbs { position: static; font-size: 10px; padding-left: 1rem; background: #000; text-align: left;}
header .breadcrumbs, header .breadcrumbs span, header .breadcrumbs span a { color: #fff;}






.title2 { font-size:1.375rem; line-height:140%; font-weight:bold;  font-weight:bold; margin:0 0 40px 0; padding:0 0 15px 0; background:url(../img/title_line.gif) no-repeat left bottom; text-align: left;}
.title2 span { }
.title3 { font-size: 1.125rem; line-height: 140%; font-weight: bold; font-weight: bold; margin: 40px 0 20px 0; padding:12px; background:#C2DAED;}
.title4 { font-size:1rem; line-height:140%; font-weight:bold; margin:0 0 15px 0; padding:0 0 15px 0; border-bottom:2px solid #C2DAED;}
.title4 span { font-size:0.813rem;}
.title5 { font-size: 1rem; font-weight:bold; margin:0 0 1em 0; border-left:3px solid #C2DAED; padding-left:15px;}
.title6 { font-size: 1rem; font-weight:bold; margin:0 0 1em 0; }
@media screen and (max-width:900px){
	.pagetitle h1.title1 { font-size: 1.375rem; height:auto; min-height:90px; padding:13px 5%; line-height:140%; box-sizing:border-box;}
	.pagetitle h1.title1 span { font-size:0.938rem; margin:0 0 6px 0;}
	.title2 { margin:0 0 25px 0; padding:0 0 15px 0;}
	.title3 { font-size:1.25rem; margin:25px 0 15px 0;}
}


.pagetitle h1.title1 { height: 160px; vertical-align: top; padding-top: 50px;}
.pagetitle h1.title1 em { display: block; padding-top: 1rem;}
@media screen and (max-width: 900px){
	.pagetitle { display: block; padding: 10px 5% 16px;}
	.pagetitle h1.title1 {height: auto; min-height: auto; padding: 0; width: 100%; text-align: center; display: block;}
	.pagetitle h1.title1 span {margin: 0!important;}
	.pagetitle h1.title1 em { padding: .5rem 0;}
	.breadcrumbs { position: static; line-height: 140%; text-align: left; margin-bottom: 6px;}
	header .breadcrumbs { position: static; font-size: 10px; padding-left: 1rem; background: #000; text-align: left; margin: 0; padding: 6px 1rem;}
	header .breadcrumbs, header .breadcrumbs span, header .breadcrumbs span a { color: #fff;}

}



/*ページ内リンク*/
#page-link { margin:0 0 60px 0; padding:0;}
#page-link ul { background:#EAF2F9; font-size:0.813rem; padding:10px 20px; line-height:100%;}
#page-link ul li { line-height:100%; margin:0; padding:0; display:inline; line-height:100%;}
#page-link ul li a { background:url(../img/pageLink.svg) no-repeat 0 46%; padding:0 0 0 16px; margin:0 25px 0 0; line-height:200%; display:block;}
@media screen and (max-width:900px){
	#page-link { margin:0; padding:0;}
}



/*PC SP切り替え*/
.pc1200 { display:block!important;}
.sp1200 { display:none!important;}
.pc900 { display:block!important;}
.sp900 { display:none!important;}
.pc750 { display:block!important;}
.sp750 { display:none!important;}
.pc600 { display:block!important;}
.sp600 { display:none!important;}
.br_900 { display:none;}
.br_600 { display:none;}
.br_900_600 { display:none;}
@media screen and (max-width:1220px){
	.pc1200 { display:none!important; }
	.sp1200 { display:block!important;}
}
@media screen and (max-width:900px){
	.pc900 { display:none!important; }
	.sp900 { display:block!important;}
	.br_900 { display:block!important;}
	.br_900_600 { display:block!important;}
}
@media screen and (max-width:750px){
	.pc750 { display:none!important; }
	.sp750 { display:block!important;}
}
@media screen and (max-width:600px){
	.pc600 { display:none!important; }
	.sp600 { display:block!important;}
	.br_600 { display:block!important;}
	.br_900_600 { display:none!important;}
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

調整用

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*画像を幅にフィット*/
.fitImg{ width:100%; height:auto;}

/*マージン*/
/*.m0 { margin: 0 !important; }*/
.mb0 { margin-bottom:0px !important;}
.mb5 { margin-bottom:5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;}
.mb40 { margin-bottom:40px !important;}
.mb50 { margin-bottom:50px !important;}
.mb55 { margin-bottom:55px !important;}
.mb60 { margin-bottom:60px !important;}
.mb70 { margin-bottom:70px !important;}
.mb75 { margin-bottom:75px !important;}
.mb80 { margin-bottom:80px !important;}
.mb100 { margin-bottom:100px !important;}
.mb120 { margin-bottom:120px !important;}

.mt0 { margin-top:0px !important;}
.mt10 { margin-top:10px !important;}
.mt20 { margin-top:20px !important;}
.mt30 { margin-top:30px !important;}
.mt40 { margin-top:40px !important;}
.mt50 { margin-top:50px !important;}
.mt60 { margin-top:60px !important;}
.mt70 { margin-top:70px !important;}


/*パディング*/
.pb0 { padding-bottom:0 !important;}
.pb10 { padding-bottom:10px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb30 { padding-bottom:30px !important;}
.pb40 { padding-bottom:40px !important;}
.pb50 { padding-bottom:50px !important;}
.pb60 { padding-bottom:60px !important;}
.pb70 { padding-bottom:70px !important;}
.pb80 { padding-bottom:80px !important;}
.pb90 { padding-bottom:90px !important;}
.pb100 { padding-bottom:100px !important;}

.pt0 { padding-top:0px !important;}
.pt10 { padding-top:10px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt30 { padding-top:30px !important;}
.pt40 { padding-top:40px !important;}
.pt50 { padding-top:50px !important;}
.pt60 { padding-top:60px !important;}
.pt70 { padding-top:70px !important;}

.w7 { width:7% !important;}
.w8 { width:8% !important;}
.w10 { width:10% !important;}
.w12 { width:12% !important;}
.w15 { width:15% !important;}
.w17 { width:17% !important;}
.w20 { width:20% !important;}
.w25 { width:25% !important;}
.w30 { width:30% !important;}
.w33 { width:33.33% !important;}
.w35 { width:35% !important;}
.w40 { width:40% !important;}
.w50 { width:50% !important;}
.w60 { width:60% !important;}
.w600 { width:600px; margin:0 auto;}
.w650 { width:650px; margin:0 auto;}
.w700 { width:700px; margin:0 auto;}
.w750 { width:750px; margin:0 auto;}
.w800 { width:800px; margin:0 auto;}
@media screen and (max-width:600px){
	.w600 { width:100%; margin:0 auto;}
	.w650 { width:100%; margin:0 auto;}
	.w700 { width:100%; margin:0 auto;}
	.w750 { width:100%; margin:0 auto;}
	.w800 { width:100%; margin:0 auto;}
}
/*
table .w10 { width:auto !important;}
table .w12 { width:auto !important;}
table .w15 { width:auto !important;}
table .w20 { width:auto !important;}
table .w25 { width:auto !important;}
table .w30 { width:auto !important;}
table .w33 { width:auto !important;}
table .w35 { width:auto !important;}
table .w40 { width:auto !important;}
table .w50 { width:auto !important;}
table .w60 { width:auto !important;}
*/


@media screen and (max-width:600px){
	video { width:100%!important; height:auto;}
}


/* list ////////////////////////////////////////////////////////////////////////////////////////////*/
ul.list{}
ul.arw { padding-left:18px;}
ul.arw li { position: relative; }
ul.arw li::after { display: block; content: ''; position: absolute; top: .7em; left: -1em; width: 4px; height: 4px; border-right: 1px solid #666; border-bottom: 1px solid #666; -webkit-transform: rotate(-45deg); transform: rotate(-45deg);}

ol.number {}
ol.number li {list-style-type: decimal; line-height:180%; margin:0 0 12px 20px; padding:0;}

ul.dot { margin:0 0 10px 0px; padding:0 0 0 25px;}
ul.dot li {list-style-type: disc; line-height:200%; margin:0; padding:0;}

ul.dotline {}
ul.dotline li { border-bottom:1px dotted #ccc; padding:5px 0; margin:0; line-height:200%;}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

レイアウト

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*整列*/
.t-center { text-align: center !important; }
.t-right { text-align: right !important; }
.t-left { text-align: left !important; }
.m-center { margin:0 auto !important; }
.v-middle { vertical-align: middle !important; }

/*配置*/
.fl { float:left; }
.fr { float:right; }
.ph_l { float:left; margin:0 1rem 0 0 !important;}
.ph_r { float:right; margin:0 0 0 1rem !important;}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

プロパティ

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*color*/
.red { color: #F7575B!important;}
.blue { color:#0053A7 !important;}
.bgGray { background:#E7EBEF!important;}
.bgLightBlue { background:#EAF2F9!important;}


/*テーブル*/
.tbl { width:100%; margin:0 auto; padding:0; border-collapse:collapse; border:1px solid #C2DAED; font-size:0.875rem;}
.tbl th { border:1px solid #C2DAED; padding:10px; font-weight:normal; /*width:27.5%;*/ background:#EAF2F9; line-height:130%;}
.tbl td { border:1px solid #C2DAED; padding:10px; font-weight:normal; line-height:130%;}
.tbl td p { }
.tbl td p:last-child { margin:0; padding:0;}
.tbl th div { position:relative;}
span.required { background:#F0598A; color:#fff; font-size:0.69rem; box-sizing:border-box; text-align:center; padding:4px 6px; line-height:100%; position:absolute; right:0px; top:0.1em; }
@media screen and (max-width:737px){
	span.required { position:static; margin-top:0; display: inline-block; padding:2px 3px; margin-left:5px;}
}
@media screen and (max-width:600px){
	.tbl { width:100%; margin:0 auto; padding:0; border-collapse:collapse; border-bottom:none; table-layout:fixed;}
	.tbl th { padding:8px 5px 7px; line-height:130%; width:100%!important; display:block; border:none;}
	.tbl th br { display:none;}
	.tbl th.w25 { padding:8px 5px 7px; line-height:130%; width:100%!important; display:block; border:none;}
	.tbl td { padding:8px 5px 7px; line-height:130%; width:100%; display:block; border-left:none; border-right:none;}
	span.required { position:static; margin-top:0; display: inline-block; padding:2px 3px; margin-left:5px;}
}

.tbl2 { width:100%; margin:0 auto; padding:0; border-collapse:collapse; border:1px solid #C2DAED; table-layout:fixed; font-size:0.875rem;}
.tbl2 th { border:1px solid #C2DAED; padding:10px; font-weight:normal; /*width:15%;*/ background:#EAF2F9; line-height:130%;}
.tbl2 td { border:1px solid #C2DAED; padding:10px; font-weight:normal; text-align:center; line-height:130%;}
.tbl2 td p { }
.tbl2 td p:last-child { margin:0; padding:0;}
/*.tbl2:last-child { margin:0 auto; padding:0;}*/
.tbl2.td-left td { text-align:left;}
.kome_red { font-size:0.75rem; color:#C33;}
.kome { font-size:0.75rem; margin:0 0 20px 0; line-height:150%; display:inline-block;}
th .kome { margin:0;}
td .kome { margin:0;}

.tbl3 { width:100%; margin:0 auto; padding:0; border-collapse:collapse; border:1px solid #C2DAED; font-size:0.875rem;}
.tbl3 th { border:1px solid #C2DAED; padding:10px; font-weight:normal;  background:#EAF2F9; text-align:center; line-height:130%;}
.tbl3 td { border:1px solid #C2DAED; padding:10px; font-weight:normal; line-height:130%;}
@media screen and (max-width:600px){
	.tbl3 {table-layout:fixed; width:100%; border:1px solid red;}
	.tbl3 th { padding:6px 6px; text-align:center; line-height:140%;}
	.tbl3 td { padding:6px 6px; line-height:140%;}
	.tbl3 img { width:auto; height:auto; width:100%;}
	.tbl3 td {word-wrap:break-word!important;}
}

.tbl4 { width:100%; margin:0 auto; padding:0; border-collapse:collapse; border:1px solid #C2DAED; table-layout:fixed; font-size:0.875rem; line-height:130%;}
.tbl4 th { border:1px solid #C2DAED; padding:10px; font-weight:normal; background:#EAF2F9; line-height:130%;}
.tbl4 td { border:1px solid #C2DAED; padding:10px; font-weight:normal; text-align:center; line-height:130%;}
.tbl4 td p { }
.tbl4 td p:last-child { margin:0; padding:0;}
/*.tbl4:last-child { margin:0 auto; padding:0;}*/

.tbl5 { width:100%; margin:0 auto; padding:0; border-collapse:collapse; font-size:0.875rem;}
.tbl5 th { padding:10px; font-weight:normal; line-height:130%; border-bottom:1px solid #C2DAED; width:31%; font-weight:bold; font-size:0.938rem; line-height:130%;}
.tbl5 td { padding:10px; font-weight:normal; line-height:130%; border-bottom:1px solid #C2DAED; line-height:130%;}
.tbl5 th img { vertical-align:middle; margin-right:10px;}
@media screen and (max-width:900px){
	.tbl5 th { width:100%; display:block; border-bottom:none; overflow:hidden; padding-bottom:0;}
	.tbl5 td { width:100%; display:block; overflow:hidden!important;}
	.tbl5 td img { float:right!important;}
}


.tbl6 { width:100%; margin:0 auto; padding:0; border-collapse:collapse; font-size:0.875rem;}
.tbl6 td { padding:10px!important; font-weight:normal; line-height:130%; width:20%; border:none!important; box-sizing:border-box; line-height:130%;}

.entry table.tbl7 { width:auto!important; margin:0; padding:0; border-collapse:collapse; font-size:0.875rem; border:none!important;}
.tbl7 td { padding:10px!important; font-weight:normal; line-height:130%; width:auto; border:none!important; box-sizing:border-box; line-height:130%;}


.tbl8 { width:100%; margin:0 auto; padding:0; border-collapse:collapse; border:1px solid #C2DAED; table-layout:fixed; font-size:0.875rem;}
.tbl8 th { border:1px solid #C2DAED; padding:10px; font-weight:normal; background:#EAF2F9; line-height:130%;}
.tbl8 td { border:1px solid #C2DAED; padding:10px; font-weight:normal; text-align:left; line-height:130%;}
.tbl8 td p { }
.tbl8 td p:last-child { margin:0; padding:0;}

@media screen and (max-width:600px){
	/*td { word-break:break-all;}*/
}



#outer{ margin-bottom:60px;}
@media screen and (max-width:600px){
	#outer{ width: 100%; overflow-x: auto; max-height:70vh;}
	#outer table { width:auto!important;}
	#outer::-webkit-scrollbar { height: 5px;}
	#outer::-webkit-scrollbar-track { border-radius: 5px; background: #eee; }
	#outer::-webkit-scrollbar-thumb { border-radius: 5px; background: #666; }	
}





@media screen and (max-width:900px){
	input[type="button"],input[type="text"],input[type="submit"],input[type="tel"],textarea {
	   -webkit-appearance: none;
	   border-radius: 0;
	}
}





.jiasui_s_07_block01 { margin: 0 0 64px; padding: 48px 0 0 0;}
.jiasui_s_07_block01 .flex { display: flex; flex-wrap: wrap; justify-content: space-between;}
.jiasui_s_07_block01 .flex .flex-l { width: 52%;}
.jiasui_s_07_block01 .flex .flex-r { width: 44%;}
.jiasui_s_07_block01 .flex .flex-l h2 { margin: 0 0 16px; padding: 16px; background: #FFF100; color: #000; font-size: 20px; font-weight: bold; line-height: 140%;}
.jiasui_s_07_block01 .flex .flex-l h3 { margin: 0 0 10px; padding: 0; font-size: 16px; font-weight: bold; line-height: 140%; background: none;}
.jiasui_s_07_block01 .flex .flex-l h3 span { font-size: 13px;}
.jiasui_s_07_block01 .flex .flex-l th { text-align: center; font-size: 14px;}
.jiasui_s_07_block01 .flex .flex-l td { font-size: 14px; text-align: center;}
.jiasui_s_07_block01 .flex .flex-r th { text-align: center; font-size: 14px;}
.jiasui_s_07_block01 .flex .flex-r th.tate { width: 10%; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; text-align: center;}
.jiasui_s_07_block01 .flex .flex-r td { font-size: 14px; text-align: center;}
.jiasui_s_07_block01 .flex .flex-r td.arw { position: relative;}
.jiasui_s_07_block01 .flex .flex-r td.arw:after { content: ""; display: block; width: 0; height: 0; border-style: solid; border-width: 9px 0 9px 16px; border-color: transparent transparent transparent #000000; position: absolute; top: 32%;right: -10px}
.jiasui_s_07_block01 .flex .flex-r h2 { background: #FFFABA; margin: 0 0 10px; padding: 12px; color: #000; font-size: 16px; font-weight: bold; line-height: 140%;}
.jiasui_s_07_block01 .flex .flex-r h3 { margin: 0; padding: 0; font-size: 13px; text-align: right; background: none; font-weight: normal;}
@media screen and (max-width:600px){
	.jiasui_s_07_block01 .flex .flex-l { width: 100%;}
    .jiasui_s_07_block01 .flex .flex-r { width: 100%;}
}

.jiasui_s_07_block02 { margin: 0 0 64px;}
.jiasui_s_07_block02 .flex .flex-l { text-align: center; margin-bottom: 32px;}
.jiasui_s_07_block02 .flex .flex-r th { text-align: center; font-size: 14px; line-height: 120%; vertical-align: middle;}
.jiasui_s_07_block02 .flex .flex-r td { text-align: center; font-size: 14px; line-height: 120%; vertical-align: middle;}
.jiasui_s_07_block02 .flex .flex-r td span { font-size: 12px; display: block;}
.jiasui_s_07_block02 .flex .flex-r td.purple-t { background: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-Q.jpg) no-repeat 50% 50%; background-size: cover; font-weight: bold;}
.jiasui_s_07_block02 .flex .flex-r td.pink-t { background: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-R.jpg) no-repeat 50% 50%; background-size: cover; font-weight: bold;}
.jiasui_s_07_block02 .flex .flex-r td.green-t { background: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-S.jpg) no-repeat 50% 50%; background-size: cover; font-weight: bold;}
.jiasui_s_07_block02 .flex .flex-r td.blue-t { background: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-T.jpg) no-repeat 50% 50%; background-size: cover; font-weight: bold;}
.jiasui_s_07_block02 .flex .flex-r td.purple { color: #64137F;}
.jiasui_s_07_block02 .flex .flex-r td.pink { background: #FADBD9; color: #E70040;}
.jiasui_s_07_block02 .flex .flex-r td.green { background:#E0F1EB; color: #018360;}
.jiasui_s_07_block02 .flex .flex-r td.blue { color: #535997;}
.jiasui_s_07_block02 .flex .flex-r div { background: #FADBD9; padding: 24px; font-size: 14px;}
.jiasui_s_07_block02 .flex .flex-r div h2 { color: #181674; font-weight: bold; line-height: 140%; margin: 0 0 10px; padding: 0; background: none;}


.jiasui_s_07_block03 td { font-size: 14px; line-height: 140%;}
.jiasui_s_07_block03 td.green-t { background: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-S.jpg) no-repeat 50% 50%; background-size: cover; font-weight: bold; text-align: center;}
.jiasui_s_07_block03 td.pink-t { background: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-R.jpg) no-repeat 50% 50%; background-size: cover; font-weight: bold; text-align: center;}
.jiasui_s_07_block03 td.blue-t { background: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-T.jpg) no-repeat 50% 50%; background-size: cover; font-weight: bold; text-align: center;}
.jiasui_s_07_block03 td.green { background:#E0F1EB;}
.jiasui_s_07_block03 td.pink { background: #FADBD9;}
.jiasui_s_07_block03 td.maru { background-image: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-N.png); background-repeat: no-repeat; background-position: .6rem .6rem; padding-left: 46px; background-size: 20px;}
.jiasui_s_07_block03 td.batsu { background-image: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-P.png); background-repeat: no-repeat; background-position: .6rem .6rem; padding-left: 46px; background-size: 20px;}
.jiasui_s_07_block03 td.sannkaku { background-image: url(/wp/wp-content/uploads/2022/10/jiasui_s_07-O.png); background-repeat: no-repeat; background-position: .6rem .6rem; padding-left: 46px; background-size: 20px;}
